.ml4 {
  position: relative;
  font-weight: 900;
  font-size: 4.5em;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{
  color: black;
}

.dark-mode p{
  color: white;
}
.ml4 .letters {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0.3em;
  right: 0;
  opacity: 0; 
}

header{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: sticky;
  top: 0; 
  border-bottom: none;
  z-index: 1000; 
  transition: padding-top, padding-bottom, border-bottom, background-color;
  transition-duration: 0.6s;
}

.scroll{
  border-bottom: #3B1E54 2px solid;
  padding-top: 25px;
  padding-bottom: 10px;
  background-color: #9B7EBD;
}

.dark-mode .scroll{
  border-bottom: #9B7EBD 2px solid;
  background-color: #3B1E54;
}

header > div{
  display: flex;
  flex-direction: row;  
}

.links{
  padding-right: 20px;
  text-decoration: none;
  color: black;
}

.dark-mode .links{
  color: white;
}

header > img{
  width: 250px;
  height: 220px;
}

.git{
  height: 45px;
  width: 50px;
  background:url("../image/git.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: background;
  transition-duration: 0.6s;
}


.dark-mode .git{
  background: url("../image/gitWhite.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.steam{
  height: 45px;
  width: 50px;
  background:url("../image/steam.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: background;
  transition-duration: 0.6s;
}


.dark-mode .steam{
  background: url("../image/steamWhite.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#nightmode{
  height: 45px;
  width: 50px;
  background:url("../image/night-mode-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: background;
  transition-duration: 0.6s;
  cursor: pointer;
}


.dark-mode #nightmode{
  background: url("../image/light.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

body {
  padding: 25px;
  background-color: #9B7EBD;
  color: black;
  font-size: 25px;
  transition: background-color, color;
  transition-duration: 0.6s;
  size: 100vh;
}

.dark-mode {
  background-color: #3B1E54;
  color: white;
}

.dark-mode .test {
  color: white;
}

.test{
  color: black;
}

.main{
  display: flex;
  align-items: center;
  flex-direction: column;
  size: 500px;
}


.dark-mode .ml11{
  color: #fff;
}


.ml11 {
  font-weight: 700;
  font-size: 3em;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.dark-mode .ml11 .line{
  background-color: white;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: black;
  transform-origin: 0 50%;
}

.ml11 .line1 { 
  top: 0; 
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}

.desc{
  animation: description 2s infinite ease-in-out;
  letter-spacing: 10px;
  transition: animation;
  transition-duration: 0.3s;
  font-weight: 600;
  padding-bottom: 150px;
}

@keyframes description{
  0%{
    letter-spacing: 10px;
  }
  25%{
    letter-spacing: 20px;
  }
  50%{
    letter-spacing: 15px;
  }
  75%{
    letter-spacing: 20px;
  }
  100%{
    letter-spacing: 10px;
  }
}
.tiltall{
  display: flex;
  justify-content: space-around;
  color: white;
}

.tilt{
  background-color: #3B1E54;
  width: 500px;
  height: 700px;
  border-radius: 8px;
  margin: 20px;
  transition: background-color;
  transition-duration: 0.6s;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.tilt p{
  color: white;
  text-align: center;
}

.dark-mode .tilt p{
  color: black;
}

.dark-mode .tilt{
  background-color: #9B7EBD;
}

.more {
  display: inline-block;
  padding: 0.65em 1.6em;
  border: 3px solid #9B7EBD;
  margin: 0 50px 0 50px;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  animation: morebouncy 5s infinite linear;
  position: relative;
}

.dark-mode .more{
  border: 3px solid #3B1E54;
color: #000000;
}

.more:hover {
  background-color: #9B7EBD;
  color: #000000;
}

.dark-mode .more:hover{
  color: white;
  background-color: #3B1E54;
}

@keyframes morebouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

a{
  text-decoration: none;
}

.about {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 45px;
  width: 130px;
  background-color: #3B1E54;
  border: 1px solid rgba(0, 0, 0, 0.6);
  margin-top: 60px;
  margin-bottom: 10px;
  color: white;
  opacity: 0; /* Start invisible */
  transform: translateY(50px); /* Start below the viewport */
  transition: opacity 0.6s, transform 0.6s;
}

.about.visible {
  opacity: 1; /* Make visible when triggered */
  transform: translateY(0); /* Move to original position */
}

.dark-mode .about{
  background-color: #9B7EBD;
}


.about .aboutspan {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
  text-decoration: none;
}

.dark-mode .about .aboutspan{
  color: #000000;
}

.about:hover {
  animation: aboutrotate 0.7s ease-in-out both;
}

.about:hover .aboutspan {
  animation: aboutstorm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes aboutrotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes aboutstorm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

.aventure{
  width: 760px;
  height: 750px;
  border-radius: 8px;
}

/*---------------------------*/

.content {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 160px;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  line-height: 40px;
  color: black;
  
}

.dark-mode .content{
  color: white;
}

.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 40px;
}

.content__container:before {
  content: '[';
  left: 0;
}

.content__container:after {
  content: ']';
  position: absolute;
  right: 0;
}

.content__container:after,
.content__container:before {
  position: absolute;
  top: 0;
  color: #3B1E54;
  font-size: 42px;
  line-height: 40px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.content__container:after,
.content__container:before{
  color: #3B1E54;
}

.dark-mode .content__container:after{
  color: #9B7EBD;
}

.dark-mode .content__container:before{
  color: #9B7EBD;
}

.content__container__text {
  display: inline;
  float: left;
  margin: 0;
}

.content__container__list {
  margin-top: 0;
  padding-left: 110px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.content__container__list__item {
  line-height: 40px;
  margin: 0;
}

@-webkit-keyframes opacity {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

@-webkit-keyframes change {
  0%, 12.66%, 100% { transform: translate3d(0, 0, 0); }
  16.66%, 29.32% { transform: translate3d(0, -25%, 0); }
  33.32%, 45.98% { transform: translate3d(0, -50%, 0); }
  49.98%, 62.64% { transform: translate3d(0, -75%, 0); }
  66.64%, 79.3% { transform: translate3d(0, -50%, 0); }
  83.3%, 95.96% { transform: translate3d(0, -25%, 0); }
}

@-o-keyframes opacity {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

@-o-keyframes change {
  0%, 12.66%, 100% { transform: translate3d(0, 0, 0); }
  16.66%, 29.32% { transform: translate3d(0, -25%, 0); }
  33.32%, 45.98% { transform: translate3d(0, -50%, 0); }
  49.98%, 62.64% { transform: translate3d(0, -75%, 0); }
  66.64%, 79.3% { transform: translate3d(0, -50%, 0); }
  83.3%, 95.96% { transform: translate3d(0, -25%, 0); }
}

@-moz-keyframes opacity {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

@-moz-keyframes change {
  0%, 12.66%, 100% { transform: translate3d(0, 0, 0); }
  16.66%, 29.32% { transform: translate3d(0, -25%, 0); }
  33.32%, 45.98% { transform: translate3d(0, -50%, 0); }
  49.98%, 62.64% { transform: translate3d(0, -75%, 0); }
  66.64%, 79.3% { transform: translate3d(0, -50%, 0); }
  83.3%, 95.96% { transform: translate3d(0, -25%, 0); }
}

@keyframes opacity {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes change {
  0%, 12.66%, 100% { transform: translate3d(0, 0, 0); }
  16.66%, 29.32% { transform: translate3d(0, -25%, 0); }
  33.32%, 45.98% { transform: translate3d(0, -50%, 0); }
  49.98%, 62.64% { transform: translate3d(0, -75%, 0); }
  66.64%, 79.3% { transform: translate3d(0, -50%, 0); }
  83.3%, 95.96% { transform: translate3d(0, -25%, 0); }
}

.arrow{
  height: 100px;
  width: 100px;
  background:url("../image/arrow-down-black.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: background;
  transition-duration: 0.6s;
  padding-top: 500px;
  animation: goDown 3s infinite ease-in-out;
}


.dark-mode .arrow{
  background: url("../image/arrow-down.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@keyframes goDown{
  0% {
    transform: translateY(0);  
  }
  50% {
    transform: translateY(50px);  
  }
  100% {
    transform: translateY(0);  
  }
}

.arrowAbout{
  display: flex;
  justify-content: center;
}

.espace{
  height: 60vh;
}

.abouttxt {
  padding-left: 5%;
  padding-bottom: 10vh;
}

.aboutGrandDiv{
  display: flex;
  justify-content: space-around;
}


.bouton {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid #3B1E54;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: black;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  width: 200px;
  height: 100px;
}

.dark-mode .bouton{
  border: 1px solid #9B7EBD;
  color: white;
}

.bouton:hover {
  background: #3B1E54;
  box-shadow: 0 0 30px 5px #3B1E54;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: white;
}

.dark-mode .bouton:hover{
  background: #9B7EBD;
  box-shadow: 0 0 30px 5px #9B7EBD;
}

.bouton:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}


.bouton::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #9B7EBD;
  box-shadow: 0 0 50px 30px #9B7EBD;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

.dark-mode .bouton::before{
  background: #3B1E54;
  box-shadow: 0 0 50px 30px #3B1E54;
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.bouton:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}



